body {
    background-color: #000;
}

.content {
    flex-direction: column;
}

.content>div {
    overflow: hidden;
    padding-bottom: 100px;
}

.flex {
    display: flex;
}

.titlebar {
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 100px;
    border: 1.5px solid #383838;
    width: 61.8%;
    height: 80px;
    overflow: hidden;
}

.titlebar .logo {
    display: block;
    justify-self: flex-start;
    margin-left: 20px;
    margin-top: 17px;
    width: 251px;
    height: 46.33rem;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}

.titlebar div {
    justify-self: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 24.7px;
}

.titlebar div a {
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    font-size: 0;
}

.titlebar div a:nth-child(1) {
    height: 44.95px;
    background-image: url(../images/afdian_logo.png);
}

.titlebar div a:nth-child(2) {
    background-image: url(../images/github_logo.png);
}

.titlebar ul {
    flex: 1;
    margin-left: 10.1%;
    margin-right: 6%;
    justify-content: space-between;
    align-items: center;
}

.titlebar ul li a {
    flex: 1;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: "PingFangSC-Medium";
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 80px;
    color: rgba(163, 163, 165, 1);

}

.content div:nth-child(2n) {
    background-color: #1D1D1F;
}

.content div:nth-child(2n-1) {
    background-color: #000;
}

.content>div:nth-child(n) img {
    display: block;
    margin: 0 auto;
    margin-top: 218px;
    max-width: 63%;
    height: auto;
}

.content>div:nth-child(1) img {
    margin-top: 174px;
}

.content>div:nth-child(n)>a {
    display: block;
    margin: 0 auto;
    margin-top: 57px;
}

.btn {
    width: 200px;
    height: 90px;
    border-radius: 100px;
    background: rgba(0, 113, 227, 1);
    border: 1.5px solid rgba(56, 56, 56, 1);
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);

    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 90px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

@media (max-width: 1580px) {
    .titlebar ul {
        display: none;
    }

    .titlebar {
        justify-content: space-between;
    }
}

@media (max-width: 700px) {
    .titlebar div {
        display: none;
    }

    .titlebar {
        justify-content: space-around;
    }

    .titlebar .logo {
        margin-right: 30px;
    }
}